:root {
  --body-background-color: #f5f5f5;
  --content-background-color: #fff;
  --content-text-color: #505050;
  --content-text-color-inverted: #fff;
  --section-background-color: #e5e5e5;
  --divider-color: #505050;
  --primary-color: #9e3039;
  --primary-color-shade: #791c24;
  --color-gray-1: #4f5869;
  --color-light-gray: #e5e5e5;
  --color-green: #708238;
  --color-red: #9e3039;
  --color-teal-blue: #356a8b;
  --color-gunmetal: #2b2d42;
  --color-silver: #b8b8b8;
}
@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  src: url('/fonts/PTSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/PTSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  src: url('/fonts/PTSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/PTSans-BoldItalic.ttf') format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-background-color);
  color: var(--content-text-color);
  line-height: 1.5;
  font-size: 1.125rem;
  font-family: 'PT Sans', sans-serif;
}
a {
  color: var(--color-teal-blue);
}
a:hover {
  color: var(--color-gunmetal);
}
p {
  margin: 0 0 1rem;
}
input[type="text"] {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.375rem;
  color: var(--content-text-color);
  border: .25rem solid var(--color-light-gray);
  border-radius: 2rem;
  background-color: var(--content-background-color);
  padding: .3rem 1rem;
  outline: none;
  transition: border-color .3s ease-in-out;
}
input[type="text"]:focus {
  border-color: var(--color-gray-1);
}
input[type="text"].error {
  border-color: var(--primary-color);
}
.no-margin {
  margin: 0 !important;
}
/* Layout wrapper */
.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
}
.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Header */
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  min-height: 2rem;
  background-color: var(--body-background-color);
  box-sizing: border-box;
  box-shadow: 0 0 4px 2px var(--body-background-color);
  transition: box-shadow .3s ease-in-out;
}
.header.header-scrolled {
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.1);
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
}
.navigation-link {
  padding: .5rem 1rem;
  color: var(--content-text-color);
  text-decoration: none;
  font-size: 1.375rem;
  transition: all .3s ease-in-out;
}
.navigation-link:hover {
  text-decoration: underline;
}
/* Content */
.content-wrapper {
  max-width: 720px;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--content-background-color);
  color: var(--content-text-color);
  border-radius: 2rem;
  overflow: hidden;
  transition: all .3s ease-in-out;
}
@media screen and (max-width: 18em) {
  .content-wrapper {
    margin: 1rem .5rem;
  }
}
.content-heading {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: .5rem 2rem;
  margin: 0 auto;
  background-color: var(--color-gray-1);
  color: var(--content-text-color-inverted);
  text-align: center;
  font-size: 1.5rem;
}
.content {
  width: 100%;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}
@media screen and (max-width: 38em) {
  .content {
    padding: 1rem;
  }
}
@media screen and (max-width: 18em) {
  .content {
    padding: 1rem .5rem;
  }
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--content-text-color-inverted);
  border: .25rem solid var(--primary-color);
  border-radius: 2rem;
  padding: .3rem 2rem;
  line-height: 1.4;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  transition: all .3s ease-in-out;
}
.button:hover {
  background-color: var(--primary-color-shade);
  border-color: var(--primary-color-shade);
  cursor: pointer;
}
.button:focus {
  outline: none;
  border-color: var(--color-gray-1);
  background-color: var(--primary-color-shade);
}
/* Question block */
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.answer-input {
  margin: 0 auto 1rem;
}
/* Result block */
.list-table {
  width: 100%;
  margin: 0 auto 1rem;
}
.list-table th {
  border-bottom: 1px dashed var(--divider-color);
}
.list-table th, .list-table td {
  padding: .25rem 1rem;
  border-right: 1px dashed var(--divider-color);
}
.list-table th:last-child, .list-table td:last-child {
  border-right: none;
}
.result-correct, .result-incorrect {
  font-weight: bold;
}
.result-correct {
  color: var(--color-green);
}
.result-incorrect {
  color: var(--color-red);
}
/* List options */
.list-options {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  background-color: var(--content-background-color);
  box-shadow: 0 0 4px 2px var(--content-background-color);
  z-index: 1;
}
/* Custom checkbox */
.checkbox {
  display: block;
  width: fit-content;
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  line-height: 1.5;
  font-size: 1.125rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: .25rem;
  left: .25rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--content-background-color);
  border: .25rem solid var(--color-light-gray);
  border-radius: 50%;
  transition: all .3s ease-in-out;
}
.checkbox:hover input ~ .checkmark {
  border-color: var(--color-silver); 
}
.checkmark:after {
  content: "✔";
  position: absolute;
  opacity: 0;
  top: -0.35rem;
  font-size: 1.375rem;
  left: -0.1rem;
  line-height: 1;
  font-weight: bold;
  color: var(--color-gunmetal);
  transition: all .3s ease-in-out;
}
.checkbox input:checked ~ .checkmark:after {
  opacity: 1;
}
/* Footer */
.footer {
  color: var(--content-text-color);
  border-top: 1px dashed var(--divider-color);
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem 0;
  margin: auto 1rem;
}
.footer a {
  text-underline-offset: 2px;
}