:root {
  --body-background-color: #f5f5f5;
  --content-background-color: #fff;
  --content-text-color: #505050;
  --content-text-color-inverted: #fff;
  --section-background-color: #e5e5e5;
  --divider-color: #505050;
  --primary-color: #9e3039;
  --primary-color-shade: #791c24;
  --color-gray-1: #4f5869;
  --color-light-gray: #e5e5e5;
  --color-green: #708238;
  --color-red: #9e3039;
  --color-teal-blue: #356a8b;
  --color-gunmetal: #2b2d42;
  --color-silver: #b8b8b8;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans-Regular.woff2') format('woff2'),
       url('/fonts/PTSans-Regular.woff') format('woff'),
       url('/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans-Italic.woff2') format('woff2'),
       url('/fonts/PTSans-Italic.woff') format('woff'),
       url('/fonts/PTSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans-Bold.woff2') format('woff2'),
       url('/fonts/PTSans-Bold.woff') format('woff'),
       url('/fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans-BoldItalic.woff2') format('woff2'),
       url('/fonts/PTSans-BoldItalic.woff') format('woff'),
       url('/fonts/PTSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-background-color);
  color: var(--content-text-color);
  line-height: 1.5;
  font-size: 1.125rem;
  font-family: 'PT Sans', sans-serif;
}
a {
  color: var(--color-teal-blue);
  transition: color .3s ease-in-out;
}
a:hover {
  color: var(--color-gunmetal);
}
p {
  margin: 0 0 1rem;
}
input[type="text"] {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.375rem;
  color: var(--content-text-color);
  border: .25rem solid var(--color-light-gray);
  border-radius: 2rem;
  background-color: var(--content-background-color);
  padding: .3rem 1rem;
  outline: none;
  will-change: border-color;
  transition: border-color .3s ease-in-out;
}
input[type="text"]:hover {
  border-color: var(--color-silver);
}
input[type="text"]:focus {
  border-color: var(--color-gray-1);
}
input[type="text"].error {
  border-color: var(--primary-color);
  animation: shake .3s ease-in-out;
}
input[type="text"]:invalid {
  animation: shake .3s ease-in-out;
}
input[type="text"]::placeholder {
  color: var(--color-light-gray);
  font-style: italic;
}
.no-margin {
  margin: 0 !important;
}
/* Layout wrapper */
.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
}
.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Header */
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--body-background-color);
  box-sizing: border-box;
  box-shadow: 0 0 .25rem .125rem var(--body-background-color);
  display: grid;
  grid-template-rows: 1fr;
  will-change: box-shadow, grid-template-rows;
  transition: box-shadow .3s ease, grid-template-rows .3s ease;
}
.header > div {
  overflow: hidden;
}
.header.header-scrolled {
  box-shadow: 0 0 .25rem .125rem rgba(0,0,0,0.1);
}
.header.header-scrolled.header-scrolled-down {
  grid-template-rows: 0fr;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
}
.navigation-link {
  padding: 0 .5rem;
  margin: .25rem .5rem;
  color: var(--content-text-color);
  text-decoration: none;
  font-size: 1.375rem;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  border: .125rem solid transparent;
  border-radius: 1rem;
  will-change: border-color, background-color;
  transition: border-color .3s ease, background-color .3s ease;
}
.navigation-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: .125rem;
  background-color: var(--primary-color);
  will-change: width, left;
  transition: width .3s ease, left .3s ease;
}
.navigation-link:hover::after {
  width: 100%;
  left: 0;
}
.navigation-link:focus-visible:hover::after {
  width: 80%;
  left: 10%;
}
.navigation-link:focus-visible {
  outline: none;
  background-color: var(--content-background-color);
  border: .125rem solid var(--color-gunmetal);
}
/* Content */
.content-wrapper {
  max-width: 56rem;
  width: auto;
  width: calc(min(100%, 44rem) - 2rem);
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--content-background-color);
  color: var(--content-text-color);
  border-radius: 2rem;
  overflow: hidden;
}
@media screen and (max-width: 18em) {
  .content-wrapper {
    margin: 1rem .5rem;
    width: auto;
    width: calc(min(100%, 44rem) - 1rem);
  }
}
.content-heading {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: .5rem 2rem;
  margin: 0 auto;
  background-color: var(--color-gray-1);
  color: var(--content-text-color-inverted);
  text-align: center;
  font-size: 1.5rem;
}
.content {
  width: 100%;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}
@media screen and (max-width: 38em) {
  .content {
    padding: 1rem;
  }
}
@media screen and (max-width: 18em) {
  .content {
    padding: 1rem .5rem;
  }
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--content-text-color-inverted);
  border: .25rem solid var(--primary-color);
  border-radius: 2rem;
  padding: .3rem 2rem;
  line-height: 1.4;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  will-change: background-color, border-color;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}
.button:hover {
  background-color: var(--primary-color-shade);
  border-color: var(--primary-color-shade);
  cursor: pointer;
}
.button:focus {
  outline: none;
  border-color: var(--color-gray-1);
  background-color: var(--primary-color-shade);
}
.button:disabled {
  opacity: .5;
  cursor: not-allowed;
  pointer-events: none;
}
/* Question block */
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.answer-input {
  margin: 0 auto 1rem;
}
/* Correcrt/wrong markers */
.result-correct, .result-incorrect {
  font-weight: bold;
}
.result-correct {
  color: var(--color-green);
}
.result-incorrect {
  color: var(--color-red);
}
/* Custom checkbox */
.checkbox {
  display: block;
  width: fit-content;
  position: relative;
  cursor: pointer;
  padding: .25rem .5rem .25rem 2rem;
  line-height: 1.5;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .125rem solid transparent;
  border-radius: 1rem;
  will-change: border-color;
  transition: border-color .3s ease-in-out;
}
.checkbox:has(input[type="checkbox"]:focus-visible) {
  border-color: var(--color-gunmetal);
  outline: none;
}
.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: .4rem;
  left: .45rem;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--content-background-color);
  border: .25rem solid var(--color-light-gray);
  border-radius: 50%;
  will-change: border-color;
  transition: border-color .3s ease-in-out;
}
.checkbox:hover input ~ .checkmark {
  border-color: var(--color-silver); 
}
.checkmark:after {
  content: "✔";
  position: absolute;
  opacity: 0;
  top: -0.35rem;
  font-size: 1.375rem;
  left: -0.1rem;
  line-height: 1;
  font-weight: bold;
  color: var(--color-gunmetal);
  will-change: opacity;
  transition: opacity .3s ease-in-out;
}
.checkbox input:checked ~ .checkmark:after {
  opacity: 1;
}
/* Select */
.select-container {
  position: relative;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  width: 100%;
  margin: 0;
  padding: .25rem 1.5rem .25rem .5rem;
  background-color: var(--content-background-color);
  color: var(--content-text-color);
  border: .25rem solid var(--color-light-gray);
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
  will-change: border-color;
  transition: border-color .3s ease-in-out;
}
select::-ms-expand {
  display: none; /* Remove default arrow in IE 10/11 */
}
select:hover {
  border-color: var(--color-silver);
}
select:focus {
  border-color: var(--color-gray-1);
}
.select-container::after {
  content: "▼";
  position: absolute;
  top: .3rem;
  right: .5rem;
  color: var(--color-light-gray);
  font-size: 1rem;
  pointer-events: none;
  will-change: color;
  transition: color .3s ease-in-out;
}
.select-container:has(select:hover)::after {
  color: var(--color-silver);
}
.select-container:has(select:focus)::after {
  color: var(--color-gray-1);
}
.select-container:has(select:active)::after {
  color: var(--primary-color);
}
.select-container select {
  min-width: 8rem;
}
.select-container:has(select:disabled) {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .5;
}
.select-container:has(.select-container-label) {
  margin-top: .5rem;
}
.select-container .select-container-label {
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  padding: 0 .5rem;
  z-index: 1;
  font-size: .75rem;
  background-color: var(--content-background-color);
  color: var(--content-text-color);
  border: .125rem solid var(--color-light-gray);
  border-radius: 1rem;
  pointer-events: none;
  will-change: border-color;
  transition: border-color .3s ease-in-out;
}
.select-container:has(select:hover) .select-container-label {
  border-color: var(--color-silver);
}
.select-container:has(select:focus) .select-container-label {
  border-color: var(--color-gray-1);
}
.select-container:has(.select-container-label) select {
  min-width: 10rem;
  padding: .75rem 2rem .5rem 1rem;
  border-radius: 2rem;
}
.select-container:has(.select-container-label)::after {
  top: .75rem;
  right: .75rem;
}
/* Footer */
.footer {
  color: var(--content-text-color);
  border-top: .0625rem dashed var(--divider-color);
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem 0;
  margin: auto 1rem;
}
.footer a {
  text-underline-offset: 0.125rem;
}